<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.bdbiblioConnectionString"
            connectionString="Data Source=DESKTOP-JP1HIJD\SIST;Initial Catalog=bdbiblio;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>